__pycache__/
*.pyc
.pytest_cache/

venv/
.venv/

.env
.env.*
!.env.example

data/generated_resumes/*
!data/generated_resumes/.gitkeep
data/resumes/*
!data/resumes/.gitkeep
data/parsed_data/*
!data/parsed_data/.gitkeep
